body,html {
  height: 100%;
  background-image: url("../img/r3.jpg");
  overflow-x: hidden;
}

#foot {
  font-size: 20px;
  color: white;
  text-align: center;
  height: 30px;
  background-color: #212121;
}

#heading {
  font-size: 48px;
  text-align: center;
  color: white;
  padding-top: 80px;
  padding-bottom: 40px;
}

#viewField {
  height: 300px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
}

#detailsField {
  height: 300px;
  background-color: black;
  text-align: justify;
  font-size: 22px;
  color: white;
  padding: 10px;
  position: relative;
}

#extender {
  height: 10%;
  background-position: center;
}

#note {
  background-color: #212121;
  color: white;
}

#t1, #t2, #t3 {
  height: 100%;
}

.opt {
  background-color: #212121 ;
  height: 80px;
  color: white;
  text-align: center;
  font-size: 36px;
  vertical-align: middle;
  padding-top: 10px;
}

.dark {
  background-color: black;
}

.link {
  position: absolute;
  bottom: 0;
  right: 0;
}
